*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:'Segoe UI', sans-serif;

    background:linear-gradient(135deg,#ffd6e8,#fff7fb);

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;

}


/* hər səhnə */

.scene{

    width:90%;

    max-width:600px;

    background:white;

    padding:40px;

    border-radius:30px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.15);

    animation:appear 1s ease;

}


.hidden{

    display:none;

}


/* pişik */

.cat{

    font-size:100px;

    animation:bounce 2s infinite;

    margin-bottom:20px;

}


/* yazılar */

h1{

    color:#ff4f88;

    margin-bottom:20px;

}


h2{

    color:#ff4f88;

    margin-bottom:20px;

}


p{

    color:#555;

    font-size:20px;

    line-height:1.7;

    margin-bottom:25px;

}


/* düymələr */

button{

    background:#ff4f88;

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:50px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}


button:hover{

    transform:scale(1.08);

    background:#ff2f74;

}


/* yazı effekti */

#typing{

    min-height:70px;

}


/* ürək oyunu */

#gameArea{

    height:300px;

    position:relative;

    overflow:hidden;

    margin-top:20px;

    border-radius:20px;

    background:#fff0f6;

}


.heart{

    position:absolute;

    font-size:35px;

    cursor:pointer;

    animation:float 3s linear;

}


/* sakura */

.petal{

    position:fixed;

    top:-20px;

    font-size:25px;

    animation:fall 5s linear forwards;

}


/* animasiyalar */


@keyframes bounce{

    50%{

        transform:translateY(-15px);

    }

}



@keyframes appear{

    from{

        opacity:0;

        transform:scale(.8);

    }

    to{

        opacity:1;

        transform:scale(1);

    }

}



@keyframes fall{

    to{

        transform:translateY(110vh) rotate(360deg);

    }

}



@keyframes float{

    from{

        transform:translateY(300px);

    }

    to{

        transform:translateY(-50px);

    }

}
